<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984366533133-98gnt349dvfg466n8bn7846vqi0nuq7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984366533133-98gnt349dvfg466n8bn7846vqi0nuq7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAL9XalphNo5mXm8VS9h9rkk26e2AJ4XfM</string>
	<key>GCM_SENDER_ID</key>
	<string>984366533133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WeatherDemoApp</string>
	<key>PROJECT_ID</key>
	<string>weather-ios-app-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-ios-app-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984366533133:ios:37eb8e31fbbdce9d</string>
	<key>DATABASE_URL</key>
	<string>https://weather-ios-app-demo.firebaseio.com</string>
</dict>
</plist>